$green-0: hsl(88, 41%, 89%);
$green-100: hsl(87, 64%, 85%);
$green-150: hsl(87, 64%, 80%);
$green-200: hsl(87, 64%, 75%);
$green-250: hsl(87, 64%, 70%);
$green-300: hsl(87, 64%, 65%);
$green-400: hsl(87, 64%, 55%);
$green-500: hsl(87, 64%, 45%);
$green-600: hsl(87, 64%, 35%);
$green-650: hsl(87, 64%, 30%);
$green-700: hsl(87, 64%, 25%);
$green-750: hsl(87, 64%, 20%);
$green-800: hsl(87, 64%, 15%);
$green-900: hsl(87, 64%, 5%);

$blue-100: hsl(208, 37%, 60%);
$blue-200: hsl(208, 37%, 50%);
$blue-300: hsl(208, 37%, 40%);
$blue-400: hsl(208, 37%, 30%);
$blue-500: hsl(208, 37%, 20%);
$blue-600: hsl(208, 37%, 10%);

$blue-500-tp-1: hsl(208, 37%, 20%, .1);
$blue-500-tp-2: hsl(208, 37%, 20%, .2);
$blue-500-tp-3: hsl(208, 37%, 20%, .3);
$blue-500-tp-4: hsl(208, 37%, 20%, .4);
$blue-500-tp-5: hsl(208, 37%, 20%, .5);
$blue-500-tp-6: hsl(208, 37%, 20%, .6);

$white-tp-1: hsla(255, 100%, 100%, .1);
$white-tp-2: hsla(255, 100%, 100%, .2);
$white-tp-3: hsla(255, 100%, 100%, .3);
$white-tp-4: hsla(255, 100%, 100%, .4);
$white-tp-5: hsla(255, 100%, 100%, .5);
$white-tp-6: hsla(255, 100%, 100%, .6);
$white-tp-7: hsla(255, 100%, 100%, .7);
$white-tp-8: hsla(255, 100%, 100%, .8);
$white-tp-9: hsla(255, 100%, 100%, .9);
