@use '../util' as *;
@use '../globals/colors' as *;


.home-container {
  width: 100%;
  height: 100%;

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;


      img {
        width: rem(300);
        height: rem(150);

        @include breakpoint-down(md) {
          width: rem(150);
          height: rem(75);
        }
      }

      span {
        background: linear-gradient(180.81deg, #BFE897 15.35%, #91da71 58.38%, #6cbe45 84.21%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include adaptive_font(100, 30);
      }

      h1 {
        margin: 0;
        @include adaptive_font(100, 30);
        text-align: center;
      }

      p {
        @include adaptive_font(40, 16);
        color: $blue-500-tp-4;
        line-height: 2.5;
      }
    }

    .announcement-grid-layout-container {
      padding: rem(20);

      .announcement-grid-layout {
        display: grid;
        grid-gap: rem(20);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: rem(710);
        max-width: rem(1200);

        @include breakpoint-down(xl) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: rem(400) 0 rem(400) 0 rem(284) 0 rem(284) 0;
          max-width: rem(768);
        }

        @include breakpoint-down(sm) {
          grid-template-columns: 1fr;
          grid-template-rows: rem(360) rem(400) rem(500)  rem(250) rem(200);
          max-width: rem(768);
        }

        & > * {
          box-shadow: rem(0) rem(6) rem(10) rgba(0, 0, 0, 0.25);
          border: rem(1) solid rgba(0, 0, 0, 0.1);
          border-radius: rem(5);
        }

        &__taste {
          display: flex;

          grid-area: 1 / 1 / 3 / 2;
          padding: rem(20);
          @include breakpoint-down(xl) {
            grid-area: 3 / 1 / 5 / 2;
          }

          @include breakpoint-down(sm) {
            grid-area: unset;
            grid-row: 2;
          }

          .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              max-height: rem(200);
              border-radius: rem(10);
              cursor: pointer;

              @include breakpoint-down(sm) {
                height: rem(250);
              }
            }

            .rate-container {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              margin-top: rem(10);

              .rate {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;

                p {
                  padding-bottom: rem(4);
                }

                &__thumbs {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: rem(11);
                  gap: rem(2);

                  &-active {
                    width: 16.6667%;
                    height: 100%;
                    background: $green-500;
                  }

                  &-inactive {
                    @extend .rate__thumbs-active;
                    background: $green-200;
                  }
                }
              }
            }
          }
        }

        &__receipt {
          grid-area: 1 / 2 / 3 / 4;
          box-shadow: none;
          border: none;
          border-radius: 0;

          .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            box-shadow: rem(0) rem(6) rem(10) rgba(0, 0, 0, 0.25);
            background: transparent;
            border: rem(1) solid rgba(0, 0, 0, 0.1);
            border-radius: rem(5);
            transform: perspective(500px) rotateX(0deg) rotateY(0deg);
            transition: transform 300ms ease-out, background 2000ms;

            img {
              width: 100%;
              object-fit: cover;

              @include breakpoint-down(md) {
                max-height: rem(250);
              }
            }

            .receipt-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              gap: rem(10);

              p {
                font-size: rem(30);
              }

              &__time {
                display: flex;
                align-items: center;
                padding: rem(5);
                border: rem(1) solid $blue-500;
                border-radius: rem(15);
                gap: rem(4);

              }
            }
          }

          @include breakpoint-down(xl) {
            grid-area: 1 / 1 / 3 / 3;
          }

          @include breakpoint-down(sm) {
            grid-area: unset;
            grid-row: 1;
          }
        }

        &__wine {
          padding: rem(20);
          grid-area: 1 / 4 / 5 / 5;
          overflow: hidden;
          @include breakpoint-down(xl) {
            grid-area: 3 / 2 / 7 / 3;
          }

          @include breakpoint-down(sm) {
            grid-area: unset;
          }

          .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: rem(20);

            img {
              height: rem(300);
              width: rem(110);

              @include breakpoint-down(sm) {
                height: rem(200);
                width: rem(75);
              }
            }

            p {
              @include adaptive_font(25, 18);
              text-align: center;
            }

            span {
              color: hsla(208, 37%, 20%, 0.47);
            }
          }
        }

        &__fact {
          grid-area: 3 / 1 / 5 / 3;
          padding: rem(40) rem(30);
          @include breakpoint-down(xl) {
            grid-area: 7 / 1 / 9 / 3;
          }

          @include breakpoint-down(sm) {
            grid-area: unset;
          }

          .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: rem(30);

            p {
              font-weight: 300;
              @include adaptive_font(25, 18);
              text-align: center;
            }

            span {
              color: hsla(208, 37%, 20%, 0.47);
            }
          }
        }

        &__advice {
          grid-area: 3 / 3 / 5 / 4;
          @include breakpoint-down(xl) {
            grid-area: 5 / 1 / 7 / 2;
          }

          @include breakpoint-down(sm) {
            grid-area: unset;
          }
        }
      }
    }
  }
}
